#map { height: 500px; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: #077012;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* body{
    background-image: url("../images/Bilbaoesquina.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} */

.mainImg{
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff2;
    margin-bottom: 40px;
    margin-top: 20px;
}

.navbar  {
    padding: 20px;
    gap: 50px;

}

.navbar  a{
    text-decoration: none;
    color: #000;

}

.navbar a:hover {
    color:  #000a;
}

body {
    background-color: #f8f9fa; /* gris claro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card h2 {
    color: #010814; /* azul Bootstrap */
}

footer {
    font-size: 0.9rem;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}


