#map { height: 500px; }

h1{
    text-align: center;
    color: #077012;
    margin-top: 30px;
    margin-bottom: 20px;
}

body{
    background-image: url("../images/Bilbaoesquina.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mainImg{
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

